<script type="text/x-handlebars">
    <div id="page" class="hfeed site">
        <div id="masthead-wrap" >
            <header id="masthead" class="site-header" role="banner">
                <hgroup>
                    <h1 class="site-title">
                        <a href="/" title="{{title}}" rel="home">{{title}}</a>
                    </h1>
                    <h2 class="site-description">{{description}}</h2>
                </hgroup>
                <nav role="navigation" class="site-navigation main-navigation">
                    <h1 class="assistive-text">Menu</h1>
                    <div class="assistive-text skip-link">
                        <a href="#content" title="Skip to content">Skip to content</a>
                    </div>
                    <div class="menu">
                        <ul>
                            {{#each}}
                                <li class="page_item">{{#link-to 'page' id}}{{title}}{{/link-to}}</li>
                            {{/each}}
                            <!--<li class="current_page_item"><a href="/" title="Home">Home</a></li>-->
                            <!--<li class="page_item page-item-68"><a href="#blog">Blog</a></li>-->
                            <!--<li class="page_item page-item-76"><a href="#contact">Contact</a></li>-->
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </nav>
            </header>
        </div>
        <div id="main" class="site-main">
            <div id="primary" class="content-area">
                <div class="hentry-wrap">
                    {{outlet}}
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/x-handlebars" data-template-name="home">
    <article class="post-2 page type-page status-publish hentry">
        <header class="entry-header">
            <h1 class="hentry-title">About</h1>
        </header>
    </article>
</script>

<script type="text/x-handlebars" data-template-name="page">
    asdfasfdafa
    {{#each}}
        <article class="page hentry">
            <header class="entry-header">
                <h1 class="hentry-title">{{title}}</h1>
            </header>
            <div class="entry-content">
                {{body}}
            </div>
        </article>
    {{/each}}
</script>